/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS de base */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/** end reset css**/
	body {
		font-family: 'Work Sans' ;
		font-size: 14px;
	}
	header {
		display: flex;
		justify-content: space-between;
		margin: 50px 50px;
	}
	section {
		margin: 50px
	}

	h1{
		display: flex;
		flex-direction: column;
		font-family: 'Syne';
		font-size: 22px;
		font-weight: 800;
		color: #B1663C
	}

	h1 > span {
		font-family: 'Work Sans';
		font-size:10px;
		letter-spacing: 0.1em;
	;
	}

	h2{
		font-family: 'Syne';
		font-weight: 700;
		font-size: 30px;
		color: #1D6154
	}
	nav ul {
		display: flex;
		align-items: center;
		list-style-type: none;

	}
	nav li {
		padding: 0 10px;
		font-size: 1.2em;
	}
	nav a {
		text-decoration: none;
	}
	a:visited, a {
		color:black
	}
	li:hover, a:hover {
		color: #B1663C;
		text-decoration: none;
	}
	#introduction {
		display: flex;
		align-items: center;
	}
	#introduction figure {
		flex: 1
	}
	#introduction img {
		display: block;
		margin: auto;
		width: 80%;
	}

	#introduction article {
		flex: 1
	}
	#introduction h2 {
		margin-bottom: 1em;
	}

	#introduction p {
		margin-bottom: 0.5em;
	}
	#portfolio h2 {
		text-align: center;
	}
	.gallery {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.gallery img {
		width: 100%;

	}
	#formulaire {
		width: 50%;
		margin: auto;
	}
	#formulaire > * {
		text-align: center;

	}
	#formulaire h2 {
		margin-bottom: 20px;
	}
	#formulaire form {
		text-align: left;
		margin-top:30px;
		display: flex;
		flex-direction: column;
	}

	#formulaire input {
		height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	#formulaire input[type="text"], #formulaire input[type="email"], #formulaire input[type="password"] {
		padding-left: 15px;
	}

	#formulaire textarea {
		padding-top: 15px
	}

	#formulaire label {
		margin: 2em 0 1em 0;
	}
	#formulaire textarea {
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		padding-left: 15px;
	}

	input[type="submit"]{
		font-family: 'Syne';
		font-weight: 700;
		color: white;
		background-color: #1D6154;
		margin : 2em auto ;
		width: 180px;
		text-align: center;
		border-radius: 60px ;
	}

	footer nav ul {
		display: flex;
		justify-content: flex-end;
		margin: 2em
	}

	figcaption {
		margin-top : 5px;
	}

/* CSS de base */

/* CSS Ajouté */

	/* Filtres */

		.filters {
			display:flex;
			justify-content: center;
			column-gap: 10px;
			margin-bottom: 50px;
		}

		.filters button {
			background-color: transparent;
			padding: 9px 15px;
			border: 2px solid #1D6154;
			border-radius: 60px;
			font-family: 'Syne';
			color: #1D6154;
			font-size: 16px;
			font-weight: bold;
		}

		.filters button:hover, .filters button:focus {
			background-color: #1D6154;
			color: white;
		}

	/* Filtres */

	/* Page login */

		.navLogin {
			margin-bottom:150px;
		}

		.mainLogin {
			display: flex;
			justify-content: center;
		}

		.passwordForgot {
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 350px;;
		}

		#alert {
			margin-top: 30px;
			color: red;
		}

	/* Page login */

	/* Mode édition */

		#login, #logout {
			color:black
		}

		#editionheadband {
			background-color: black;
			display: flex;
			justify-content: center;
			padding:20px;
			gap: 10px;
			color: white;
			font-size: 16px;
		}

		.projectTitle {
			display:flex;
			justify-content: center;
			gap:30px;
			margin-bottom: 60px;
		}

		#projectEdit {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			background-color: transparent;
			border: none;
		}

	/* Mode édition */

	/* Modal */

		.modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.modalWrapperGallery, .modalWrapperAddProject {
			background-color: white;
			height: 80%;
			width: 400px;
			padding: 30px;
			max-width: calc(100vh - 20px);
			max-height: calc(100vh - 20px);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.modalTitle {
			text-align: center;
			font-size: 20px;
			margin-bottom: 30px;
		}

		.modalSeparator {
			width: 70%;
			margin-top: 30px;
		}

		.modalButton {
			color: white;
			background-color: #1D6154;
			display: block;
			margin: auto;
			padding: 10px 50px;
			border: none;
			border-radius: 60px;
			font-family: 'Syne';
			margin-top: 10px;
		}

		/* Modal galerie */

			.modalXmarkBox {
				display: flex;
				justify-content: end;
				width: 100%;
			}

			#photoGallery {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				gap: 10px;
			}

			.modalPicture {
				height: 70px;
				width: 50PX;
				background-size: cover;
				display: flex;
				justify-content: end;
				padding: 5px;
			}

			.modalTrash {
				height: 15px;
				width: 15px;
			}

		/* Modal galerie */

		/* Modal Ajout projet */

			.modalAddProjectIconBox {
				display:flex;
				justify-content: space-between;
				width: 100%;
			}

			.AddPhotoButton {
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #E8F1F6;
				padding: 20px 0px;
				position: relative;
				height: 134px;
			}

			.AddProjectEditSection {
				width: 70%;
			}

			.AddPhotoButton .icon {
				width: 50px;
				align-self: center;
				margin-bottom: 10px;
			}

			.AddPhotoButton button {
				margin-bottom: 10px;
				width: 60%;
				align-self: center;
				border-radius: 50px;
				border: none;
				padding: 10px 0px;
				background-color: #CBD6DC;
				color: #306685;
			}

			.AddPhotoButton p {
				text-align: center;
				font-size: 10px;;
			}
		

			.AddWorkForm {
				display:flex;
				justify-content: center;
				flex-direction: column;
			}

			.AddWorkForm label {
				margin-top: 15px;
				margin-bottom: 10px;
				font-size: 14px;
			}

			#titretravail, #categorySelector {
				border: none;
				height: 30px;
				box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
				padding-left: 10px;
			}

			.AddWorkForm .modalButton {
				margin-top: 10px;
				background-color: grey;
			}

			#imageFile {
				opacity: 0.0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			#ajoutphotobox {
				display:flex;
				flex-direction: column;
				justify-content: center;
			}

			.ajoutphotoimage {
				max-height: 100%;
				object-fit: contain;
			}

		/* Modal Ajout projet */

	/* Modal */

/* CSS Ajouté */
  